*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
}
header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.search-field{
  position: relative;
}
.search-field input{
  width: 800px;
  height:48px ;
  border-radius: 4px;
  padding-left: 10px;
  border: 1.5px solid #dadada;
}
.search-field button{
  position: absolute;
  right: 20px;
  top: 8px;
  background: none;
  border: none;
}
.search-field button :hover{
  cursor: pointer;
}
 .card-flex {
  display: flex;
  align-items: center;
  border: none;
  background:none;
}
 .card-flex img{
   margin-right: 10px;
 }
.card-flex :hover{
  cursor: pointer;
}
.menu{
  display: flex;
  justify-content: center;
  gap: 0 30px;
  background-color: #000;
  color: #fff;
  height: 48px;
  align-items: center;
  transition: 1s;
}
.menu li :hover{
  cursor: pointer;
  color: #E36305;
  transition: 0.5s;
}
.navigation{
  display: flex;
  margin: 20px;
  align-items: center;
  cursor: pointer;
}
.navigation img {
  margin: 0 5px;
}
.navigation :last-child{
  color:#E36305;
  margin-right: 0;
}
.current-session{
  display: flex;
  justify-content: space-between;
}
.left-side{
  width: 45%;
  padding-left: 30px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: #40464D;
  padding-bottom: 20px;
}
.left-side img{
  width: 70%;
}
.right-side{
  width: 50%;
}
.reference{
  display: flex;
  justify-content: space-between;
}
.reference :last-child{
  color: #40B25C;
}
.description{
  width: 90%
}
.description p{
  color: #40B25C;
}
.reference{
  margin: 20px 0;
}
.reference :last-child{
  margin-right: 50px;
}
.mini-container{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 50px;

}
.mini-left{
  margin-top: 8px;
  width: 45%;
}
.mini-left span {
  padding-left: 5px;
  color: #000000c4;
}

.colors {
  display: flex;
  margin: 10px;
}

.color {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: salmon;
  margin-right: 10px;
  border-radius: 50%;
  position: relative;
  align-self: center;
  border: 1px solid #9FA3A6;
  cursor: pointer;
}
.colors :last-child{
  background-color: #C8C8CF;
}
.colors :first-child{
  background-color: #000000c4;
}
.color::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 50%;
  border: #9FA3A6 1px solid;
}
.mini-right{
  width: 45%;
}
.mini-right h1{
  font-size: 23px;
}
.screen-size{
  display: flex;
  margin-top: 10px;
  gap: 20px;
  
}
.screen-size :last-child {
  color: #9FA3A6;
}
.screen-size li{
  border: solid 1px #ced7dd;
  border-radius: 4px;
  height: 48px;
  text-align: center;
  font-weight: 600;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
}
.card-shipping{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 30px;
}
.card-shipping p {
  font-size: 12px;
}
.card-shipping img {
  margin-right: 30px;
}
.shipping{
  display: flex;
  flex-direction: column;
  gap:10px
}
.shipping :last-child{
  color: #40b25c;
}
.discount{
  display: flex;
  align-items: center;
  
}
.price section{
  display: flex;
  align-items: center;
  gap: 3px;
}

.price p{
text-decoration: line-through;
font-size: 14px;
color: #9FA3A6;
margin-right: 5px;
}
.price span{
  color: #E63737;
  background-color:#F6CBCB;
  font-weight: 600;
  border-radius: 4px;
  font-size: 13px;
}
.count-card{
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
  width: 85%;
}

.count{
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  border:1px solid #9FA3A6;
  height:48px;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 4px;
}
.count button{
  color:#40B25C;
  font-size: 25px;
  font-weight: normal;
  background: none;
  border: none;
  cursor: pointer;
}
.stock{
  color: #E63737;
  font-size: 12px;
}
.stock :last-child{
  color: #000;
}
.card-buttons{
  display: flex;
  flex-direction: column;
  width: 85%;
}
.card-buttons button {
  height: 56px;
  margin-top: 7px;
  background: #E36305;
  font-weight: bolder;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.card-buttons :first-child{
  margin: 0;
  background: #40B25C;
}
.descri{
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  width: 85%;
}
.pawns{
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 40px;
}
.pawns p{
  color: #40B25C;
  font-weight: 500;
}
.products{
  margin:80px 0 ;
  padding-left: 20px;
  position: relative;
}
.arrow-left{
  position: absolute;
  bottom: 130px;
  z-index: 5;
  border: none;
  cursor: pointer;
  background: none;
}
.arrow-right{
  position: absolute;
  bottom: 130px;
  z-index: 5;
  border: none;
  cursor: pointer;
  right: 50px;
  background: none;
}
.list-item{
  display: flex;
  
}
.percentage{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2px;
}
.percentage *{
  width: fit-content;
  border-radius: 4px;
  padding: 2px;
  font-size: 10px;
  font-weight: 600;
 
}
.percentage span{
  color:#E63737;
  background-color: #F6CBCB;
}
.percentage h6 {
  background-color: #E63737;
  color: #fff;
}
.product {
  display: flex;
  flex-direction: column;
  width:16% ;
  text-align: start;
  justify-content: space-evenly;
  margin-right: 40px;
  position: relative;
  gap: 3px 0;
}
.product p{
  color:#9FA3A6;
  text-decoration: line-through;
  position: absolute;
  bottom: 45px;
}
.product h5{
  color: #40464D;
  font-family: normal;
}
.product h4{
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: normal;
}
.banner{
  position: relative;
}
.banner button{
border-radius: 50%;
padding: 10px;
background: #FFFFFF;
opacity: 0.5;
cursor: pointer;
border: none;
z-index: 10;
position: absolute;
bottom: 40%;
width: 30px;
height: 35px;

}
.banner img{
width: 100%;
}
.arrow-left-radius{
  left: 20px;
 
}
.arrow-right-radius{
  
  right: 20px;
  bottom: 40%;
}
.About{
  display: flex;
  flex-direction: column;
  width: 80%;
  
  font-weight: normal;
  align-self: center;
  padding-left: 30px;
  margin:40px 0;
  gap: 20px 0;
}
.About p{
  color: #40464D;
  font-size: 14px;
}
.About h4{
  font-size: 14px;
}
.About a{
  color: #0000ff;
}
.receive-news{
  background-color:#40b25c;
  height: 112px;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  align-items: center;
}
.receive-news h1{
  font-size: 30px;
}
#submit{

  display: flex;
  align-items: center;
  border-radius: 4px;
  height: 48px;
  width: 45%;
  position: relative;
  
}
#submit input{
  border: none;
  height: 48px;
  width:100%;
  padding-left: 10%;
  border-radius: 4px;

}
#submit button{
  background-color: #E36305;
  width: 120px;
  height: 48px;
  border-radius: 4px;
  border: none;
  color: #fff;
  margin-left: 20px;
}
#submit img{
  position: absolute;
  left: 3%;
}

footer {
  display: flex;
  flex-direction: column;
  background: #030303;
  width: 100%;
}
footer hr {
  margin-top: 46px;
  align-self: center;
  height: 1px;
  width: 95%;
  background: #fff;
  opacity: 0.16;
}
.footer-link {
  height: 326px;
  width: 95%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  color: #cfd1d2;
}

.footer-link .footer-section-name {
  height: 290px;
  padding-top: 30px;
  width: 33%;

}
.footer-section-button {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  
}
.footer-section-button button {
  width: 332px;
  height: 48px;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}

.footer-section-button .call-us {
  color: #fff;
  background: #40b25c;
}
.footer-section-button .send-message {
  color: #fff;
  background: #e36305;
}
.footer-section-button p span a {
  color: #fff;
  font-weight: 500;
}
.footer-section-button p{
  margin-top: 15px;
}
.footer-copy .social-media {
  margin-top: 63px;
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}
.social-media-icon{
  margin-right: 12%;
}
.copy {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.footer-copy {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.copy .all-emprises {
  margin: 30px 0;
  gap: 32px;
  justify-content: center;
  align-self: center;
  width: 50%;
  display: flex;

}
.footer-link .footer-section-name ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}
.footer-link .footer-section-name ul li {
  margin: 10px;
  margin-left: 0;
  font-style: normal;
  font-size: 14px;
  color: #cfd1d2;
}

.copy .footer-description {
  margin-top: 12px;
  width: 80%;
  align-self: center;
  font-size: 11px;
}
.copy .emprises {
  gap: 10px;
  display: flex;
  flex-direction: row;
}
