*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
}
header{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.search-field{
  position: relative;
}
.search-field input{
  width: 800px;
  height:48px ;
  border-radius: 4px;
  padding-left: 10px;
  border: 1.5px solid #dadada;
}
.search-field button{
  position: absolute;
  right: 20px;
  top: 8px;
  background: none;
  border: none;
}
.search-field button :hover{
  cursor: pointer;
}
 .card-flex {
  display: flex;
  align-items: center;
  border: none;
  background:none;
}
 .card-flex img{
   margin-right: 10px;
 }
.card-flex :hover{
  cursor: pointer;
}
.menu{
  display: flex;
  justify-content: center;
  gap: 0 30px;
  background-color: #000;
  color: #fff;
  height: 48px;
  align-items: center;
  transition: 1s;
}
.menu li :hover{
  cursor: pointer;
  color: #E36305;
  transition: 0.5s;
}
.navigation{
  display: flex;
  margin: 20px;
  align-items: center;
  cursor: pointer;
}
.navigation img {
  margin: 0 5px;
}
.navigation :last-child{
  color:#E36305;
  margin-right: 0;
}
.current-session{
  display: flex;
}
.left-side{
  width: 45%;
  padding-left: 30px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: #40464D;
  padding-bottom: 20px;
}
.left-side img{
  width: 70%;
}
.right-side{
  width: 54%;
}
.reference{
  display: flex;
  justify-content: space-between;
}
.reference :last-child{
  color: forestgreen;
}